.main-container {
  padding-top: 80px;
}
/*  logo info section */
.business {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 3em;
}

.business_info {
  display: flex;
  flex-direction: column;
}

#businesslogo {
  width: 25em;
  height: 25em;
  border-radius: 50%;
}

#businessname {
  font-size: var(--h2-desktop);
  color: var(--primary);
}

#business_name_info {
  color: var(--font-dark);
  text-align: left;
  margin: 20px 0;
  width: 64ch;
  line-height: 1.6;
}

/* Map Section */

.information {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.iconinfo {
  display: flex;
  gap: 1em;
  align-items: center;
}
.iconinfo i {
  font-size: 2rem;
}
#brgy {
  color: var(--primary);
}

.Map {
  border-style: solid;
  border: #303030;
  background-origin: padding-box;
  justify-content: center;
  display: flex;
  background-color: var(--bg-grey);
  gap: 100px;
  align-items: center;
}

.map-section {
  width: 100%;
  max-width: 50em;
  height: 500px;
  padding: 2em;
}

.map-section iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.gallery-item {
  width: 200px;
  padding: 5px;
}

/* Container for the header */

.gallery_container {
  padding: 3em;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the header title */
.header h1 {
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Styling for the paragraph below the header title */
.header p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* Styling for the button */
.header a {
  display: inline-block;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  border: 2px solid #007bff;
  color: #007bff;
  text-decoration: none;
  border-radius: 0.25rem;
}

/* Hover effect for the button */
.header a:hover {
  background-color: #007bff;
  color: white;
}

/* Container for the gallery */
.container-sm {
  max-width: 576px;
  margin: 0 auto;
}

/* Centering the gallery row */
.row {
  display: flex;
  justify-content: center;
}

/* Styling for the gallery column */
.col {
  flex: 1;
  max-width: 100%;
}

/* Styling for the images in the gallery */
.gallery-container .gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.header .lead {
  max-width: 620px;
}

/** Below CSS is completely optional **/

.gallery-item {
  width: 200px;
  padding: 5px;
}
